body {
  margin: 0;
  width: 100%;
}

.swiper-pagination {
  bottom: 95% !important;
}

.swiper-pagination {
  position: static !important;
  width: 414px !important;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 1;

}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #EEEEEE;
  width: 88px;
  height: 4px !important;
  border-radius: 32px; 
  position: static;
  margin-top: -400px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FA641E;
}

*{
font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
