body {
  margin: 0;
  width: 100%;
}
.swiper-pagination {
  position: absolute;
  width: auto !important;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  top: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #EEEEEE;
  width: 88px;
  border-radius: 32px; 
  
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FA641E;
}

*{
font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
